/*Ahmad Al Jasem 8837167*/
body{
    font : normal normal normal 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
    height :100vh;
    wight 100vh;
    background-color: hsla(200, 46%, 81%, 0.7);
}
h2{
    font-size: 2res;
    color : #fc9;
}
header{
    background-color: hsl(300, 50%, 50%);
}        
main{
    float : left;
    width : 70vw;
    background-color: hsl(300, 50%, 50%);
}   
aside{
    float : right;
    width : 25vw
    background-color: hsl(130, 40%, 60%)
}   
footer{
    clear : both;
}   
  .structural{
    margin : 10px;
    padding : 10px;
    border : 2px solid black;
  }
  #para1{
    color : red(219, 60, 7)
  }
  #para2{
    color : yellow( 219, 60, 7)
  }
  a:hover{
    color : #f09;
  }
  footer p{
    font-size : .75em;
  }